.os-scrollbar .os-scrollbar-track {
  background: #060307;
  border-radius: 6px;
}

.os-scrollbar .os-scrollbar-handle {
  background: #764191;
  opacity: 0.3;
  border-radius: 6px;
}

body .os-scrollbar,
dialog .os-scrollbar {
  --os-size: 8px;
}
